@model ExpenseDetailsViewModel

<a class="btn btn-primary" asp-controller="Expense" asp-action="List">Terug</a>
<strong>ID</strong>
<p>@Model.Id</p>
<strong>Omschrijving</strong>
<p>@Model.Omschrijving</p>
<strong>Bedrag</strong>
<p>@Model.Bedrag</p>
<strong>Datum</strong>
<p>@Model.Datum</p>
<strong>Categorie</strong>
<p>@Model.Categorie</p>